<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configwise>
            <ar_qr>
                <deeplinkurl>https://arproduct.app.link/AR</deeplinkurl>
            </ar_qr>
            <desktop_config>
            	<enable_on_pdp>0</enable_on_pdp>
            </desktop_config>
        </configwise>
    </default>
</config>
